
#time{
    height: 100vh;
    margin-top:5vh;
    text-align: center;
    padding-bottom: 10vh;
}
.howami{
    height: 100vh;
    text-align: center;
    margin-top: 5vh;
    
}
.Url{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding-top: 5vh;
    
}
#outbox{
    display:flex;
    flex-direction: column;
    align-items: center;
    border: solid;
    border-color: aquamarine;
    width: 600px;
    height: 300px;
    border-width: 2px;
}

#inbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
  
    width:250px;
    border: solid;
    border-style: groove;
}
#bot{
    margin-top: -20px;
    margin-bottom: 15px;
}
#input{
    margin-top: 10px;
    font-size: small;
}
#nav{
    background-color: #fff;
   margin-left: 22vw;

}
#work{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
}
#filds{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:rgba(46, 134, 234, 0.244);
    height: 270px;
    width: 400px;
    margin-top: 20px;
}
input{
    padding: 10px;
    margin: 5px;
    text-align: center;
}
input[type=date]{
    width:200px;
    padding: 10px;
    margin: 5px;
    text-align: center;
}
#work-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:400px;
    background-color:rgba(46, 134, 234, 0.244);
   
  
}
#user-btn{
    margin-left: 0px;
}
#metadata{
   background-color: aqua; 
}
